<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="se.chalmers.cse.wm1819.dit341template">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="se.chalmers.cse.dit341.group00.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.chalmers.cse.dit341.group00.MainRecipeActivity"
            android:parentActivityName="se.chalmers.cse.dit341.group00.MainActivity">
        </activity>
        <activity
            android:name="se.chalmers.cse.dit341.group00.SecondActivity">
        </activity>

        <activity android:name="se.chalmers.cse.dit341.group00.PostRecipeActivity"
           >

        </activity>
        <activity android:name="se.chalmers.cse.dit341.group00.DeleteRecipeActivity"></activity>
        <activity
            android:name="se.chalmers.cse.dit341.group00.MainFindRecipe"
        android:usesCleartextTraffic="true"/>
    </application> </manifest>
    <!--android:configChanges="orientation|keyboardHidden|screenSize"-->

